.pdf-file-input {
    background: transparent;
    border: none;
    position: absolute;
}

.progress-bar {
  width: 100%;
  height: 12px;
  border: none;
  border-radius: 12px 12px 4px 4px;
  background: #d3f6cb;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
  overflow: hidden;
}
  .progress-fill {
    background: #75e359;
    font-size: 10px;
    font-weight: bold;
    color: var(--color-white);
    width: 0;
}
.pdf-box-label {
  width: auto;
  height: 40px;
  border-radius: 8px;
}
.pdf-box-label:hover{
  background-color: var(--color-border);
}